html, body, div#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: calc(100% - 54px);
}

.full-size {
  width: 100%;
  height: 100%;
}

.brand-logo-big {
  font-size: 24px;
  font-family: monospace, monospace;
}

.super-big {
  font-size: 160px;
  text-align: center;
}

.signin-logo {
  font-size: 136px;
}

.bg-landing {
  object-fit: cover;
  overflow: hidden;
  display: none;
  width: 100%;
  height: 100%;
  min-height: 380px;
}

.gradient {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  width: 100%;
  height: 100%;
}

.gradient-inv {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
  width: 100%;
  height: 100%;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.paused {
  animation-play-state: paused;
}

.logo {
  font-family: monospace;
}

.all-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.delay-1 {
  animation-delay: 1.2s !important;
}
