html, body, div#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: calc(100% - 54px);
}

.full-size {
  width: 100%;
  height: 100%;
}

.brand-logo-big {
  font-size: 24px;
  font-family: monospace, monospace;
}

.super-big {
  font-size: 160px;
  text-align: center;
}

.bg-landing {
  object-fit: cover;
  overflow: hidden;
  display: none;
  width: 100%;
  height: 100%;
}

.paused {
  animation-play-state: paused;
}

.logo {
  font-family: monospace;
}

.all-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.delay-1 {
  animation-delay: 1.2s !important;
}
